@model Ass2WithOAuth.Models.StockRequest


<h2> Add New Product</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.Product.Name):  <strong>@Html.DisplayFor(model => model.Product.Name)</strong></h3>
                </div>
                <div class="panel-body">
                    <form asp-action="AddNewItem">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductID" />  
                        <hr />
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
</div>